<ul mat-dialog-title class="grid">
  <div *ngFor="let product of auctions" class="product-container">
    <div class="product">
      <img [src]="product.imageUrl" alt="Product Image" />
      <div class="attributes">
        <p>Auction name: {{ product.name }}</p>
        <p>Country, city: {{ product.country }} , {{ product.city }}</p>
        <p>Auction likes {{ product.auction_likes ?? "0" }}</p>
        <p>
          Current bid:
          {{
            product.bidding_amount_history[
              product.bidding_amount_history.length - 1
            ]
          }}
        </p>
        <p>
          Auction ends:
          {{ product.auction_end_time | date : "yyyy-MM-dd hh:mm" }}
        </p>
      </div>
      <button mat-button (click)="openDetailsModal(product)">Show more</button>
    </div>
  </div>
</ul>
